@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Oswald);

$main-clr: #edeaea;
$main-font: 'Oswald', sans-serif;

body {
    @include outer-container(600px);

    background: $main-clr;
    font-family: $main-font;

}

.currentlocation {
    background: black;
    color: $main-clr;
    margin-left: 20px;
    padding: 5px 0;
    text-align: center;

}

.currentweather {
    text-align: center;
}
button {

}
